<mat-toolbar color="primary">
    <div>
        <span>
            <button mat-button>
                <img src="../../../favicon.ico" alt="logo" width="30em" height="30em">
                GoTravel
            </button>
        </span>
    </div>
    <div class="navRight">
        <button mat-button>
            <mat-icon>
                flight
            </mat-icon>
            Trips
        </button>
        <button mat-button>
            <mat-icon>
                account-circle
            </mat-icon>
            SignIn
        </button>
    </div>
</mat-toolbar>
