mat-cell {
    /* border: solid red; */
}

mat-header-cell {
    /* border: solid green; */
}

mat-paginator {
    background-color: lightgoldenrodyellow;
    margin: 5%;
}

mat-table {
    border: solid midnightblue;
    padding: .05%;
    margin: .05%;
    width: auto;
    text-align: justify;
    background-color: lightgoldenrodyellow;
}

::ng-deep mat-header-cell {
    padding: .05%;
    margin: .05%;
    width: auto;
    size: 15px;
}

::ng-deep mat-cell {
    padding: .05%;
    margin: .05%;
    width: auto;
}

.pnrWrapper {
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 100%;
    border: solid #fafad2;
    padding-bottom: 50%;
}

button.mat-raised-button:hover {
    background-color: rgb(121, 204, 204)
}