.customField {
    margin: 1%;
}

.formWrapper {
    padding: 1%;
}

.searchWrapper {
    margin: 5%;
    border: solid midnightblue;
}

button {
    font-size: 20px;
    margin-left: 80%;
    bottom: 0;
    position: relative;
}

button.mat-raised-button:hover {
    background-color: midnightblue;
}

mat-label {
    color: rgb(71, 70, 70) !important;
}