<div style="margin: 2%;">
    <h1 style="color: midnightblue;">Checkout</h1>
</div>
<div class="checkoutWrapper">
    <div class="formWrapper">
        <form [formGroup]="checkoutForm" (submit)="submit()">
            <mat-form-field appearance="outline" class="customField">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required placeholder="Enter email" />
                <mat-error *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.invalid">
                    <span *ngIf="checkoutForm.controls.email.errors?.required">This field is mandatory.</span>
                    <span *ngIf="checkoutForm.controls.email.errors?.email">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="customField">
                <mat-label>Phone</mat-label>
                <input matInput formControlName="phone" required placeholder="Enter 10 digit phone number" />
                <mat-error *ngIf="checkoutForm.controls.phone.touched && checkoutForm.controls.phone.invalid">
                    <span *ngIf="checkoutForm.controls.phone.errors?.required">This field is mandatory.</span>
                    <span *ngIf="checkoutForm.controls.phone.errors?.pattern">This field is invalid.</span>
                </mat-error>
            </mat-form-field>

            <hr>

            <button (click)="addPerson()">Add</button>
            <div formArrayName="persons" *ngFor="let pax of checkoutForm.controls.persons?.value; let i=index">
                    <ng-container [formGroupName]="i">
                        <mat-form-field appearance="outline" class="customField">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstname" required placeholder="Enter first name" />
                        </mat-form-field>
                    </ng-container>
                </div>
                            <!-- <mat-error *ngIf="personForm.controls.firstname.touched && personForm.controls..firstname.invalid">
                      <span *ngIf="personForm.controls.firstname.errors?.required">This field is mandatory.</span>
                      <span *ngIf="personForm.controls.firstname.errors?.pattern">This field is invalid.</span>
                    </mat-error> -->
                        <!-- </mat-form-field> -->
                        <!-- <mat-form-field appearance="outline" class="customField">
                            <mat-label>Middle Name</mat-label>
                            <input matInput formControlName="middlename" required placeholder="Enter middle name" />
                            <mat-error *ngIf="checkoutForm.controls.persons.controls[i].middlename.touched && checkoutForm.controls.persons.controls[i].middlename.invalid">
                      <span *ngIf="checkoutForm.controls.persons.controls[i].middlename.errors?.pattern">This field is invalid.</span>
                    </mat-error> -->
                        <!-- </mat-form-field>
                        <mat-form-field appearance="outline" class="customField">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastname" required placeholder="Enter last name" /> -->
                            <!-- <mat-error *ngIf="checkoutForm.controls.persons.controls[i].lastname.touched && checkoutForm.controls.persons.controls[i].lastname.invalid">
                      <span *ngIf="checkoutForm.controls.persons.controls[i].lastname.errors?.required">This field is mandatory.</span>
                      <span *ngIf="checkoutForm.controls.persons.controls[i].lastname.errors?.pattern">This field is invalid.</span>
                    </mat-error> -->
                        <!-- </mat-form-field>

                        <mat-form-field appearance="outline" class="customField">
                            <mat-label>Date of Birth</mat-label>
                            <input matInput formControlName="dateofBirth" required [matDatepicker]="picker"
                                [max]="maxDate" placeholder="Choose date" />
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker> -->
                            <!-- <mat-error *ngIf="checkoutForm.controls.persons.controls[i].dateofBirth.touched && checkoutForm.controls.persons.controls[i].dateofBirth.invalid">
                      <span *ngIf="checkoutForm.controls.persons.controls[i].dateofBirth.errors?.required">This field is mandatory.</span>
                    </mat-error> -->
                        <!-- </mat-form-field>

                        <mat-form-field appearance="outline" class="customField">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender" required>
                                <mat-option value="M">Male</mat-option>
                                <mat-option value="F">Female</mat-option>
                                <mat-option value="O">Other</mat-option>
                            </mat-select> -->
                            <!-- <mat-error *ngIf="checkoutForm.controls.persons.controls[i].gender.touched && checkoutForm.controls.persons.controls[i].gender.invalid">
                      <span *ngIf="checkoutForm.controls.persons.controls[i].gender.errors?.required">This field is mandatory.</span>
                    </mat-error> -->
                        <!-- </mat-form-field> -->

                        <!-- <mat-form-field appearance="outline" class="customField">
                            <mat-label>Traveller Category</mat-label>
                            <mat-select formControlName="gender" required>
                                <mat-option value="ADT">Adult</mat-option>
                                <mat-option value="CHD">Child</mat-option>
                                <mat-option value="INF">Infant</mat-option>
                            </mat-select> -->
                            <!-- <mat-error *ngIf="checkoutForm.controls.persons.controls[i].travelerType.touched && checkoutForm.controls.persons.controls[i].travelerType.invalid">
                      <span *ngIf="checkoutForm.controls.persons.controls[i].travelerType.errors?.required">This field is mandatory.</span>
                    </mat-error> -->
                <!-- </mat-form-field> --> 


                    <hr>

                    <mat-form-field appearance="outline" class="customField">
                        <mat-label>Card</mat-label>
                        <input matInput formControlName="cardno" required placeholder="Enter 16 digit card number" />
                        <mat-error *ngIf="checkoutForm.controls.cardno.touched && checkoutForm.controls.cardno.invalid">
                            <span *ngIf="checkoutForm.controls.cardno.errors?.required">This field is mandatory.</span>
                            <span *ngIf="checkoutForm.controls.cardno.errors?.pattern">This field is invalid.</span>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="customField">
                        <mat-label>Discount Coupon</mat-label>
                        <input matInput formControlName="discountcoupon" placeholder="Enter discount coupon code" />
                    </mat-form-field>

                    <!-- <mat-form-field appearance="outline" class="customField">
          <mat-label>Card</mat-label>
          <input matInput formControlName="cardno" required [matDatepicker]="picker" [min]="minDate" placeholder="Choose a date"/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
          <mat-error *ngIf="searchForm.controls.date.touched && searchForm.controls.date.invalid">
            <span *ngIf="searchForm.controls.date.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field> -->

                    <!-- <mat-form-field appearance="outline" class="customField">
          <mat-label>Trip Type</mat-label>
          <mat-select formControlName="triptype" required>
              <mat-option value="OW">One Way</mat-option>
              <mat-option value="RT">Round Trip</mat-option>
            </mat-select>
          <mat-error *ngIf="searchForm.controls.triptype.touched && searchForm.controls.triptype.invalid">
            <span *ngIf="searchForm.controls.triptype.errors?.required">This field is mandatory.</span>
          </mat-error>
        </mat-form-field> -->

                    <br>


                    <br>
                    <div class="buttonDiv">
                        <button mat-raised-button color="primary" [disabled]="checkoutForm.invalid"
                            type="submit">Checkout</button>
                    </div>
        </form>
    </div>
</div>

<router-outlet></router-outlet>